body {
	margin: 0;
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
	background-color: #ffffff;
	width: 1366px;
	height: 539px;
}
.container {
	display: grid;
	grid-template-columns: 571px 629px;
	grid-template-rows: auto auto;
}
.news-text-column {
	grid-column-start: 1;
	grid-column-end: 2;
}
.news-img-column {
	grid-column-start: 2;
	grid-column-end: 3;
	gap: 10px;
	display: grid;
	grid-template-columns: 242px 242px;
	grid-template-rows: 222px 222px;
	margin-top: 40px;
	margin-left: 73px;
}
.img2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.img1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
.img3 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
.news-text-column h2 {
	font-size: 30px;
	line-height: 37px;
	color: #1b1a17;
	margin-top: 82px;
	margin-left: 96px;
	width: 471px;
}
.news-text-column p {
	font-size: 16px;
	line-height: 169.92%;
	color: #444240;
	margin-top: 40px;
	margin-left: 98px;
	width: 469px;
}
.social {
	list-style: none;
	padding: 0;
	width: 469px;
	display: flex;
	gap: 10px;
	font-size: 16px;
	margin-top: 27px;
	margin-left: 96px;
}
